<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- TOPBAR -->
<section id="topbar" class="topbar py-0 border-bottom" th:fragment="topbar">
    <div class="container">
        <div class=" login-title-sm d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="topbar-title  nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
                <li><a href="mailto:contact@example.com" class="nav-link px-2 ">augustine@gmail.com</a></li>
                <li><a href="#" class="nav-link px-2 "><span>+84 123456789</span></a></li>
            </ul>
            <!-- d-none d-md-flex : khi màn hình là md thì sẽ mất -->
            <div class="topbar-icon d-none d-md-flex align-items-center text-end">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>